---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---
<Layout>
    <Header>
        bout
    </Header>
    <h1 class="w-full text-center text-xl">App made with <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a> and amazing <a href="https://pokeapi.co/" target="_blank" class="font-bold">Pokeapi</a></h1>
</Layout>